.auth-container {
    width: 100%;
    max-width: 400px;
    margin: 3rem auto;
    padding: 2rem;
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .auth-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .auth-form {
    display: flex;
    flex-direction: column;
  }
  
  .auth-form label {
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  
  .auth-form input {
    padding: 0.8rem;
    margin-bottom: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .auth-form button {
    padding: 0.8rem;
    background-color:#820ce3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .auth-form button:hover {
    background-color:#3d046c;
  }
  
  .toggle-link {
    margin-top: 1rem;
    text-align: center;
    color:#820ce3;
    cursor: pointer;
    text-decoration: underline;
  }
  